.module-bindings-container {
    flex-direction: column;
    margin: 10px;
}

.module-bindings-title {
    flex-direction: row;
    margin-bottom: 10px;
}

.module-bindings-text {
    font-size: 18px;
    -unity-font-style: bold;
}


.generate-bindings-button-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

.generate-bindings-button {
    margin: 0px;
}
