/*
 * Remote Config Client API
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: latest
 * Contact: remote-config@unity3d.com
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using Unity.Services.CloudCode.Core;
using Unity.Services.CloudCode.Shared;
using Unity.Services.RemoteConfig.Model;

namespace Unity.Services.RemoteConfig.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IRemoteConfigSettingsApi : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Request Player Settings with optional attributes for use in campaign (game overrides).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="settingsRequest">Request to assign settings for a user.</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (SettingsDeliveryResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<SettingsDeliveryResponse>> AssignSettingsAsync(IExecutionContext executionContext, string accessToken, SettingsDeliveryRequest settingsRequest, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken));
        /// <summary>
        /// Get Player Settings
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectId">projectId for the requesting Unity project</param>
        /// <param name="environmentId">optional environmentId to choose a non-default environment (optional)</param>
        /// <param name="configType">optional configType (optional)</param>
        /// <param name="key">optional filter to include settings with keys containing any of the specified values (optional)</param>
        /// <param name="type">optional filter to include settings with specific types in the response (optional)</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (SettingsDeliveryResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<SettingsDeliveryResponse>> AssignSettingsGetAsync(IExecutionContext executionContext, string accessToken, string projectId, string environmentId = default(string), string configType = default(string), List<string> key = default(List<string>), List<string> type = default(List<string>), System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken));
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class RemoteConfigSettingsApi : IRemoteConfigSettingsApi
    {
        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        private IApiClient Client { get; }

        /// <summary>
        /// Gets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public IApiConfiguration Configuration { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="RemoteConfigSettingsApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        public RemoteConfigSettingsApi(IApiClient apiClient)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = new ApiConfiguration()
            {
                BasePath = "https://config.unity3d.com"
            };
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="RemoteConfigSettingsApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        public RemoteConfigSettingsApi(IApiClient apiClient, IApiConfiguration configuration)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = configuration ?? throw new ArgumentNullException(nameof(configuration));
        }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <returns>The base path</returns>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Request Player Settings with optional attributes for use in campaign (game overrides).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="settingsRequest">Request to assign settings for a user.</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (SettingsDeliveryResponse)</returns>
        public async System.Threading.Tasks.Task<ApiResponse<SettingsDeliveryResponse>> AssignSettingsAsync(IExecutionContext executionContext, string accessToken, SettingsDeliveryRequest settingsRequest, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken))
        {
            // verify the required parameter 'settingsRequest' is set
            if (settingsRequest == null)
            {
                throw new ApiException(ApiExceptionType.InvalidParameters, "Missing required parameter 'settingsRequest' when calling RemoteConfigSettingsApi->AssignSettings");
            }


            var apiRequestOptions = new ApiRequestOptions(executionContext, accessToken);

            var contentTypes = Array.Empty<string>();

            // to determine the Accept header
            var accepts = new[]
            {
                "application/problem+json"
            };

            var localContentType = ApiUtils.SelectHeaderContentType(contentTypes);
            if (localContentType != null)
            {
                apiRequestOptions.HeaderParameters.Add("Content-Type", localContentType);
            }

            var localAccept = ApiUtils.SelectHeaderAccept(accepts);
            if (localAccept != null)
            {
                apiRequestOptions.HeaderParameters.Add("Accept", localAccept);
            }

            apiRequestOptions.Data = settingsRequest;

            apiRequestOptions.Operation = "RemoteConfigSettingsApi.AssignSettings";
            // make the HTTP request
            return await this.Client.PostAsync<SettingsDeliveryResponse>("/api/v1/settings", apiRequestOptions, this.Configuration, cancellationToken);
        }

        /// <summary>
        /// Get Player Settings
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectId">projectId for the requesting Unity project</param>
        /// <param name="environmentId">optional environmentId to choose a non-default environment (optional)</param>
        /// <param name="configType">optional configType (optional)</param>
        /// <param name="key">optional filter to include settings with keys containing any of the specified values (optional)</param>
        /// <param name="type">optional filter to include settings with specific types in the response (optional)</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (SettingsDeliveryResponse)</returns>
        public async System.Threading.Tasks.Task<ApiResponse<SettingsDeliveryResponse>> AssignSettingsGetAsync(IExecutionContext executionContext, string accessToken, string projectId, string environmentId = default(string), string configType = default(string), List<string> key = default(List<string>), List<string> type = default(List<string>), System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken))
        {
            // verify the required parameter 'projectId' is set
            if (projectId == null)
            {
                throw new ApiException(ApiExceptionType.InvalidParameters, "Missing required parameter 'projectId' when calling RemoteConfigSettingsApi->AssignSettingsGet");
            }


            var apiRequestOptions = new ApiRequestOptions(executionContext, accessToken);

            var contentTypes = Array.Empty<string>();

            // to determine the Accept header
            var accepts = new[]
            {
                "application/problem+json"
            };

            var localContentType = ApiUtils.SelectHeaderContentType(contentTypes);
            if (localContentType != null)
            {
                apiRequestOptions.HeaderParameters.Add("Content-Type", localContentType);
            }

            var localAccept = ApiUtils.SelectHeaderAccept(accepts);
            if (localAccept != null)
            {
                apiRequestOptions.HeaderParameters.Add("Accept", localAccept);
            }

            apiRequestOptions.QueryParameters.Add(ApiUtils.ParameterToMultiMap(Configuration, "", "projectId", projectId));
            if (environmentId != null)
            {
                apiRequestOptions.QueryParameters.Add(ApiUtils.ParameterToMultiMap(Configuration, "", "environmentId", environmentId));
            }
            if (configType != null)
            {
                apiRequestOptions.QueryParameters.Add(ApiUtils.ParameterToMultiMap(Configuration, "", "configType", configType));
            }
            if (key != null)
            {
                apiRequestOptions.QueryParameters.Add(ApiUtils.ParameterToMultiMap(Configuration, "multi", "key", key));
            }
            if (type != null)
            {
                apiRequestOptions.QueryParameters.Add(ApiUtils.ParameterToMultiMap(Configuration, "multi", "type", type));
            }

            apiRequestOptions.Operation = "RemoteConfigSettingsApi.AssignSettingsGet";
            // make the HTTP request
            return await this.Client.GetAsync<SettingsDeliveryResponse>("/api/v1/settings", apiRequestOptions, this.Configuration, cancellationToken);
        }
    }
}
