/*
 * Friends API
 *
 * ## Overview  The Friends Service provides an HTTP API to manage user relationships of different types, and manage user presence.  We currently support the following types of Relationships: - FRIEND_REQUEST - an incoming or outgoing friend request. - FRIEND - an active friendship between two users that has been mutually accepted. - BLOCK - a one-way relationship that allows a user to block a different user in order to avoid game experiences with them.  Friends makes it quick and easy to create and update relationships and provides the tools needed to efficiently integrate standard Friends functionality into your game.  The Presence features provide your players with the ability to advertise their current status in the game to other players, and support for custom presence metadata allows games to easily support features like join-in-progress or spectating.  Built-in support for push notifications allows players to easily manage their friends lists and be quickly notified when the presence of any user changes.
 *
 * The version of the OpenAPI document: v1
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using Unity.Services.CloudCode.Core;
using Unity.Services.CloudCode.Shared;
using Unity.Services.Friends.Model;

namespace Unity.Services.Friends.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IFriendsMessagingApi : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Send a message to a user.
        /// </summary>
        /// <remarks>
        /// Allows a user to send a message with a custom payload to another user.  The Friends Service will only allow a user to send a message to a user that they have an active FRIEND relationship with.  The content of the payload can be customized entirely by the client.  It is up to the client to determine how to best handle the message payload.  For example, if the message payload contains a lobby ID, the client could show an *Accept Invite* toast.  If the message contains a trade request, the client could enter a trading interface.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="messageRequest">parameter value (optional)</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse> MessageAsync(IExecutionContext executionContext, string accessToken, MessageRequest messageRequest = default(MessageRequest), System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken));
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class FriendsMessagingApi : IFriendsMessagingApi
    {
        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        private IApiClient Client { get; }

        /// <summary>
        /// Gets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public IApiConfiguration Configuration { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="FriendsMessagingApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        public FriendsMessagingApi(IApiClient apiClient)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = new ApiConfiguration()
            {
                BasePath = "https://social.services.api.unity.com"
            };
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="FriendsMessagingApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        public FriendsMessagingApi(IApiClient apiClient, IApiConfiguration configuration)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = configuration ?? throw new ArgumentNullException(nameof(configuration));
        }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <returns>The base path</returns>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Send a message to a user. Allows a user to send a message with a custom payload to another user.  The Friends Service will only allow a user to send a message to a user that they have an active FRIEND relationship with.  The content of the payload can be customized entirely by the client.  It is up to the client to determine how to best handle the message payload.  For example, if the message payload contains a lobby ID, the client could show an *Accept Invite* toast.  If the message contains a trade request, the client could enter a trading interface.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="messageRequest">parameter value (optional)</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<ApiResponse> MessageAsync(IExecutionContext executionContext, string accessToken, MessageRequest messageRequest = default(MessageRequest), System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken))
        {
            var apiRequestOptions = new ApiRequestOptions(executionContext, accessToken);

            var contentTypes = Array.Empty<string>();

            // to determine the Accept header
            var accepts = new[]
            {
                "application/problem+json"
            };

            var localContentType = ApiUtils.SelectHeaderContentType(contentTypes);
            if (localContentType != null)
            {
                apiRequestOptions.HeaderParameters.Add("Content-Type", localContentType);
            }

            var localAccept = ApiUtils.SelectHeaderAccept(accepts);
            if (localAccept != null)
            {
                apiRequestOptions.HeaderParameters.Add("Accept", localAccept);
            }

            apiRequestOptions.Data = messageRequest;

            apiRequestOptions.Operation = "FriendsMessagingApi.Message";
            // make the HTTP request
            return await this.Client.PostAsync("/v1/message", apiRequestOptions, this.Configuration, cancellationToken);
        }
    }
}
