/*
 * Friends API
 *
 * ## Overview  The Friends Service provides an HTTP API to manage user relationships of different types, and manage user presence.  We currently support the following types of Relationships: - FRIEND_REQUEST - an incoming or outgoing friend request. - FRIEND - an active friendship between two users that has been mutually accepted. - BLOCK - a one-way relationship that allows a user to block a different user in order to avoid game experiences with them.  Friends makes it quick and easy to create and update relationships and provides the tools needed to efficiently integrate standard Friends functionality into your game.  The Presence features provide your players with the ability to advertise their current status in the game to other players, and support for custom presence metadata allows games to easily support features like join-in-progress or spectating.  Built-in support for push notifications allows players to easily manage their friends lists and be quickly notified when the presence of any user changes.
 *
 * The version of the OpenAPI document: v1
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using Unity.Services.CloudCode.Core;
using Unity.Services.CloudCode.Shared;
using Unity.Services.Friends.Model;

namespace Unity.Services.Friends.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IFriendsNotificationsApi : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Get notification auth details.
        /// </summary>
        /// <remarks>
        /// Retrieves both a subscription token and a channel name that the user should use to subscribe to notifications. The Friends Service updates the notifications channel as changes to the user&#39;s relationships occur.  This includes updates to the presence state of any friends, new friend requests (i.e. &#x60;FRIEND_REQUEST&#x60; relationships created), etc.  In general, the client should not depend on repeatedly polling the entire list of relationships to monitor for changes, but should instead fetch the entire list once and then register for notifications of any updates.  This allows the client to keep the list up to date while minimizing overhead.
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (NotificationAuth)</returns>
        System.Threading.Tasks.Task<ApiResponse<NotificationAuth>> GetNotificationsAuthAsync(IExecutionContext executionContext, string accessToken, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken));
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class FriendsNotificationsApi : IFriendsNotificationsApi
    {
        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        private IApiClient Client { get; }

        /// <summary>
        /// Gets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public IApiConfiguration Configuration { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="FriendsNotificationsApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        public FriendsNotificationsApi(IApiClient apiClient)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = new ApiConfiguration()
            {
                BasePath = "https://social.services.api.unity.com"
            };
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="FriendsNotificationsApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        public FriendsNotificationsApi(IApiClient apiClient, IApiConfiguration configuration)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = configuration ?? throw new ArgumentNullException(nameof(configuration));
        }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <returns>The base path</returns>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Get notification auth details. Retrieves both a subscription token and a channel name that the user should use to subscribe to notifications. The Friends Service updates the notifications channel as changes to the user&#39;s relationships occur.  This includes updates to the presence state of any friends, new friend requests (i.e. &#x60;FRIEND_REQUEST&#x60; relationships created), etc.  In general, the client should not depend on repeatedly polling the entire list of relationships to monitor for changes, but should instead fetch the entire list once and then register for notifications of any updates.  This allows the client to keep the list up to date while minimizing overhead.
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (NotificationAuth)</returns>
        public async System.Threading.Tasks.Task<ApiResponse<NotificationAuth>> GetNotificationsAuthAsync(IExecutionContext executionContext, string accessToken, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken))
        {
            var apiRequestOptions = new ApiRequestOptions(executionContext, accessToken);

            var contentTypes = Array.Empty<string>();

            // to determine the Accept header
            var accepts = new[]
            {
                "application/problem+json"
            };

            var localContentType = ApiUtils.SelectHeaderContentType(contentTypes);
            if (localContentType != null)
            {
                apiRequestOptions.HeaderParameters.Add("Content-Type", localContentType);
            }

            var localAccept = ApiUtils.SelectHeaderAccept(accepts);
            if (localAccept != null)
            {
                apiRequestOptions.HeaderParameters.Add("Accept", localAccept);
            }


            apiRequestOptions.Operation = "FriendsNotificationsApi.GetNotificationsAuth";
            // make the HTTP request
            return await this.Client.GetAsync<NotificationAuth>("/v1/notifications/auth", apiRequestOptions, this.Configuration, cancellationToken);
        }
    }
}
