/*
 * Secret Manager Service
 *
 * # Introduction This is the client API specification for the Unity Secret Manager service. The service is responsible for the management and access of secrets. The service is meant for internal service->service usage only and will not be available to game clients. ## Rate Limits The API has rate limiting in place. Request are limited on a per service account basis to XXX requests per minute which would allow for a sustained XXX requests per second. The API responds with a `429` HTTP status code if the rate limit is exceeded. It will also respond with a `Retry-After` header to be used in conjunction with a client's retry logic. The value is the number of seconds until a request for the given service account will be accepted.
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using Unity.Services.CloudCode.Core;
using Unity.Services.CloudCode.Shared;
using Unity.Services.SecretManager.Model;

namespace Unity.Services.SecretManager.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ISecretManagerApi : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Get Environment Secret
        /// </summary>
        /// <remarks>
        /// View environment secret
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectId">The project&#39;s [Project ID](https://docs.unity.com/ugs-overview/manual/managing-unity-projects)</param>
        /// <param name="environmentId">The Environment ID of a project</param>
        /// <param name="secretKey">Key used for secret lookups</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Secret)</returns>
        System.Threading.Tasks.Task<ApiResponse<Secret>> GetEnvironmentSecretAsync(IExecutionContext executionContext, string accessToken, Guid projectId, Guid environmentId, string secretKey, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken));
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class SecretManagerApi : ISecretManagerApi
    {
        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        private IApiClient Client { get; }

        /// <summary>
        /// Gets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public IApiConfiguration Configuration { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="SecretManagerApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        public SecretManagerApi(IApiClient apiClient)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = new ApiConfiguration()
            {
                BasePath = "http://secret-manager.cloud-code.svc.cluster.local:6080"
            };
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SecretManagerApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        public SecretManagerApi(IApiClient apiClient, IApiConfiguration configuration)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = configuration ?? throw new ArgumentNullException(nameof(configuration));
        }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <returns>The base path</returns>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Get Environment Secret View environment secret
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="projectId">The project&#39;s [Project ID](https://docs.unity.com/ugs-overview/manual/managing-unity-projects)</param>
        /// <param name="environmentId">The Environment ID of a project</param>
        /// <param name="secretKey">Key used for secret lookups</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Secret)</returns>
        public async System.Threading.Tasks.Task<ApiResponse<Secret>> GetEnvironmentSecretAsync(IExecutionContext executionContext, string accessToken, Guid projectId, Guid environmentId, string secretKey, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken))
        {
            // verify the required parameter 'secretKey' is set
            if (secretKey == null)
            {
                throw new ApiException(ApiExceptionType.InvalidParameters, "Missing required parameter 'secretKey' when calling SecretManagerApi->GetEnvironmentSecret");
            }


            var apiRequestOptions = new ApiRequestOptions(executionContext, accessToken);

            var contentTypes = Array.Empty<string>();

            // to determine the Accept header
            var accepts = new[] {
                "application/problem+json"
            };

            var localContentType = ApiUtils.SelectHeaderContentType(contentTypes);
            if (localContentType != null)
            {
                apiRequestOptions.HeaderParameters.Add("Content-Type", localContentType);
            }

            var localAccept = ApiUtils.SelectHeaderAccept(accepts);
            if (localAccept != null)
            {
                apiRequestOptions.HeaderParameters.Add("Accept", localAccept);
            }

            apiRequestOptions.PathParameters.Add("projectId", ApiUtils.ParameterToString(Configuration, projectId)); // path parameter
            apiRequestOptions.PathParameters.Add("environmentId", ApiUtils.ParameterToString(Configuration, environmentId)); // path parameter
            apiRequestOptions.PathParameters.Add("secretKey", ApiUtils.ParameterToString(Configuration, secretKey)); // path parameter

            apiRequestOptions.Operation = "SecretManagerApi.GetEnvironmentSecret";
            // make the HTTP request
            return await this.Client.GetAsync<Secret>("/v1/projects/{projectId}/environments/{environmentId}/secrets/{secretKey}", apiRequestOptions, this.Configuration, cancellationToken);
        }

    }
}
