/*
 * Matchmaker
 *
 * Unity Matchmaker is part of Unity's growing suite of multiplayer services that are designed to help you create and operate multiplayer games no matter what engine you're using.
 *
 * The version of the OpenAPI document: v2.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using Unity.Services.CloudCode.Core;
using Unity.Services.CloudCode.Shared;
using Unity.Services.Matchmaker.Model;

namespace Unity.Services.Matchmaker.Api
{
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IMatchmakerMatchesApi : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Returns the StoredMatchmakingResults
        /// </summary>
        /// <remarks>
        /// Returns the results of the matchmaking process (e.g. team compositions, queues/pool info, etc).
        /// </remarks>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="matchId">ID of Match, as returned from the tickets API</param>
        /// <param name="projectId">Unity project ID</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (StoredMatchmakingResults)</returns>
        System.Threading.Tasks.Task<ApiResponse<StoredMatchmakingResults>> GetMatchmakingResultsAsync(IExecutionContext executionContext, string accessToken, string matchId, string projectId, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken));
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class MatchmakerMatchesApi : IMatchmakerMatchesApi
    {
        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        private IApiClient Client { get; }

        /// <summary>
        /// Gets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public IApiConfiguration Configuration { get; }

        /// <summary>
        /// Initializes a new instance of the <see cref="MatchmakerMatchesApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        public MatchmakerMatchesApi(IApiClient apiClient)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = new ApiConfiguration()
            {
                BasePath = "https://matchmaker.services.api.unity.com"
            };
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="MatchmakerMatchesApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="apiClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        public MatchmakerMatchesApi(IApiClient apiClient, IApiConfiguration configuration)
        {
            this.Client = apiClient ?? throw new ArgumentNullException(nameof(apiClient));
            this.Configuration = configuration ?? throw new ArgumentNullException(nameof(configuration));
        }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <returns>The base path</returns>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Returns the StoredMatchmakingResults Returns the results of the matchmaking process (e.g. team compositions, queues/pool info, etc).
        /// </summary>
        /// <exception cref="ApiException">Thrown when fails to make API call</exception>
        /// <param name="matchId">ID of Match, as returned from the tickets API</param>
        /// <param name="projectId">Unity project ID</param>
        /// <param name="executionContext">The ExecutionContext to populate the API request options with.</param>
        /// <param name="accessToken">The access token to use in the Authorization header.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (StoredMatchmakingResults)</returns>
        public async System.Threading.Tasks.Task<ApiResponse<StoredMatchmakingResults>> GetMatchmakingResultsAsync(IExecutionContext executionContext, string accessToken, string matchId, string projectId, System.Threading.CancellationToken cancellationToken = default(System.Threading.CancellationToken))
        {
            // verify the required parameter 'matchId' is set
            if (matchId == null)
            {
                throw new ApiException(ApiExceptionType.InvalidParameters, "Missing required parameter 'matchId' when calling MatchmakerMatchesApi->GetMatchmakingResults");
            }

            // verify the required parameter 'projectId' is set
            if (projectId == null)
            {
                throw new ApiException(ApiExceptionType.InvalidParameters, "Missing required parameter 'projectId' when calling MatchmakerMatchesApi->GetMatchmakingResults");
            }


            var apiRequestOptions = new ApiRequestOptions(executionContext, accessToken);

            var contentTypes = Array.Empty<string>();

            // to determine the Accept header
            var accepts = new[]
            {
                "application/problem+json"
            };

            var localContentType = ApiUtils.SelectHeaderContentType(contentTypes);
            if (localContentType != null)
            {
                apiRequestOptions.HeaderParameters.Add("Content-Type", localContentType);
            }

            var localAccept = ApiUtils.SelectHeaderAccept(accepts);
            if (localAccept != null)
            {
                apiRequestOptions.HeaderParameters.Add("Accept", localAccept);
            }

            apiRequestOptions.PathParameters.Add("matchId", ApiUtils.ParameterToString(Configuration, matchId)); // path parameter
            apiRequestOptions.PathParameters.Add("projectId", ApiUtils.ParameterToString(Configuration, projectId)); // path parameter

            apiRequestOptions.Operation = "MatchmakerMatchesApi.GetMatchmakingResults";
            // make the HTTP request
            return await this.Client.GetAsync<StoredMatchmakingResults>("/v2/projects/{projectId}/matches/{matchId}/matchmaking-results", apiRequestOptions, this.Configuration, cancellationToken);
        }
    }
}
